<%= render 'form' %>
<div class="float-right">
<%= link_to 'Cancel', items_path, class: "big-butt btn btn-lg btn-secondary" %> 
<%= link_to 'Delete', item_path(@item), method: :delete, class: "big-butt btn btn-lg btn-danger"%>
</div>